/* Author: Kyle Kaminski */

.legend {
  font-size: 36px;
  font-weight: bold;
  cursor: default;
}

.URequested {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 25px;
  padding: 15px;
  width: 40%;
}
  
.UFinalized {
  background-color: green;
  color: white !important;
  border: 2px solid black;
  border-radius: 25px;
  padding: 15px;
  width: 40%;
}
  
.ORequested {
  background-color: pink;
  border: 2px solid black;
  border-radius: 25px;
  padding: 15px;
  width: 40%;
}
  
.OFinalized {
  background-color: darkred;
  color: white !important;
  border: 2px solid black;
  border-radius: 25px;
  padding: 15px;
  width: 40%;
}