#menu-button {
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  outline: none;
}

form {
  font-size: 1.2em;
  margin-top: 25px;
  text-align: center;
  color: black;
}

.container {
  margin: 0;
}