#menu-button {
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  outline: none;
}

form {
  font-size: 1.2em;
  margin-top: 25px;
  text-align: center;
  color: #2e398f;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
<<<<<<< HEAD
}
=======
}
>>>>>>> 60fbdb5180a02bdf1535135b69dc5a871f05178b
