form {
  display: table;
}

.form-control {
  display: table-row;
}

label {
  display: table-cell;
}

input {
  display: table-cell;
}

/* Table entries 2, 4, 6, ... */
tr:nth-child(even) {
  background-color: rgba(46, 57, 143, 0.1) !important;
}

/* Table entries 1, 3, 5, ... */
tr:nth-child(odd) {
  background-color: rgba(46, 57, 143, 0.3) !important;
}