/* Author: Kyle Kaminski */

/* Backdrop image
   Note for Kyle: This puts the background image on both the html and body
   it looks alright on the calendar page but when the menu shifts on the admin page
   the body moves with it and it looks like trash. I Couldn't figure it out so it's all
   you brotha! You'll also notice a gray bar at the bottom of the body on calendar page.
   Dunno how to get rid of that either.
*/
html,
body {
  margin: 0;
  background: url(../Images/Background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  font-family: verdana;
  text-shadow: 2px 2px grey;
  background: #273076;
  text-align: center;
  font-weight: bold;
  color: #ccc;
  font-size: 48px;
  cursor: default;
  padding: 10px;
}

/* Style the top navigation bar */
.topnav {
  font-family: verdana;
  overflow: hidden;
  background-color: #2e398f;
  padding: 5px;
}

/* Universal CSS for the header background in the top nav */
ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: #00000050;
}

li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  border: outset;
  border-color: #2e398f;
}
li a:hover {
  background-color: #2e398f;
  border: inset;
  color: white !important;
  border-color: #273076;
}

.topnav button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav button:hover {
  background-color: #111;
}

/* Override the color to always be red. */
/* On the Admin page, overrides the bootstrap API, makes the
 Login button color grey for some reason. */
.logout {
  color: red !important;
  font-weight: bold;
  float: right;
}
.logout:hover {
  color: red !important;
}

button {
  font-family: verdana;
  font-size: 16px;
  background-color: #2e398f;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  border: outset;
  border-color: #273076;
}

button:hover {
  background-color: #273076;
  border: inset;
  border-color: #273076;
}

body {
  margin: 10px 10px;
  padding: 0;
  font-family: verdana;
  font-size: 14px;
  background-color: white;
}

.container {
  border-radius: 5px;
  padding: 25px;
  /* margin: 0; */
}

/* Style for the nav bar. */
.top {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: #00000050;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #2e398f;
  border-radius: 5px;
  resize: vertical;
  cursor: pointer;
}

/* CSS for checkboxes */

/* Custom checkbox, unselected. */
input[type="checkbox"] {
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #2e398f;
}

/* Custom checkbox, selected. */
input[type="checkbox"]::after {
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: 2px solid #2e398f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
}

/* Override the border colors for (calendar) tables of the API. */
.fc th,
.fc td {
  border-color: #2e398f !important;
}

.footer {
  background-color: #ccc;
  text-align: center;
  padding: 5px;
}

/* Warning message that the current content is WIP. */
/* Temp CSS code, delete when working on this page. */
.WIP {
  color: #ccc;
  font-size: inherit;
  font-weight: bold;
  background: #2e398f;
  width: 50%;
  padding: 25px;
  border: 15px dashed;
  border-color: yellow;
}

/* CSS for the scrollbar. */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
  border-left: 2px solid #2e398f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e398f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #273076;
}
/* End scrollbar CSS. */

.footer {
  visibility: hidden !important;
}
