/* Author: Kyle Kaminski */

/* Style of the entire FAQ section of this page. */
.FAQ {
  border: #2e398f solid;
  border-width: 10px;
} 

/* A group of a question and a respective answer. */
.response {
  padding: 25px;
  border: #2e398f solid;
  border-width: 1px;
  
}

.question {
  font-weight: bold;
  font-size: 24px;
}

.answer {
  font-style: italic;
  font-size: 18px;
}