/* Author: Kyle Kaminski */

.legend {
  font-size: 24px;
  font-weight: bold;
  width: 200px;
  cursor: default;
}

.URequested {
  background-color: #80ff8040;
  border-radius: 25px;
  padding: 15px;
}
  
.UFinalized {
  background-color: #00CC00;
  border-radius: 25px;
  padding: 15px;
}
  
.ORequested {
  background-color: #ff808040;
  border-radius: 25px;
  padding: 15px;
}
  
.OFinalized {
  background-color: rgb(255, 0, 0);
  border-radius: 25px;
  padding: 15px;
}
  
.open {
  background-color: #ffffff80;
  border-radius: 25px;
  padding: 15px;
}