/* Css for the login prompt, Author:Eric DeAngelis */

/* Override the top level CSS since login 
info should be center of the page. */
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

.img {
  width: 400px;
  height: 250px;
}

/* Adds more attributes on top of the top level CSS. */
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box h1 {
  color: #2e398f;
  font-weight: bold;
  font-size: 36px;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"] {
  background: white;
  text-align: center;
  border: 2px solid #273076;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  cursor: text;
}

font {
  font-weight: bold;
  color: #2e398f;
}
