/* Extra CSS for the date fields. */
input[type="date"] {
  width: 150px;
  height: 10px;
  font-size: 14px;
}

/* CSS specifically for the Submit button for 
this page (since it is named differently than others) */
input#managerUserSubmit {
  border: outset;
  color: white;
  border-color: #273076;
  background: #2e398f;
  padding: 10px 40px;
  outline: none;
  border-radius: 24px;
  cursor: pointer;
}

form {
  display: table;
}
.form-container {
  border: 5px solid #2e398f;
  padding: 12px;
  display: flex;
  align-content: center;
}
div.form-group {
  display: table-cell;
  padding: 8px;
  /*width:200px; 
  height:200px; 
  position: fixed; 
  top: 40%; 
  left: 50%; 
  margin-top: -100px; 
  margin-left: -100px; */
}

form.form-row {
  display: table-row-group;
}

.col-center {
  justify-content: center;
}
