/* Author: Kyle Kaminski */

div.column_entry {
  font-size: 18px;
}

/* Welcome message + user first name. */
div#welcome {
    font-weight: bold;
    color: #2e398f;
    font-size: 24px;
    border: 5px solid #2e398f;
    border-radius: 15px;
    padding: 10px;
}

/* Create three equal columns that floats next to each other */
.column_entry {
  float: left;
  width: 20%;
  padding: 15px;
}

.column_content {
  float: left;
  width: 80%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#calendar {
  max-width: 900px;
  color: #2e398f;
  font-size: 16px;
}

/* Keeps the calendar from shifting 
when the page resolution changes. */
* {
  box-sizing: border-box;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Override the top level API since this 
text box is non-editable. */
.currDesk {
  cursor: not-allowed !important;
}
